.child {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d50c31;
    margin: 10px 5px 10px 5px;
    color: #fff;
}
body {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}